<template>
  <div class="iconContainer">
    <div class="iconHolder">
      <div class="iconContainerInner">
        <template v-if="unread">
          <div class = "badge" v-bind:style = "{
            background: badgeColour    
          }"></div>
        </template>
        <div class = "iconWrapper">
          <div class = "imageWrapper">
            <img v-bind:src = "icon"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "sidebarIcon",
  props: {
    name: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    unread: {
      type: Boolean,
      default: false,
      required: false
    },
    badgeColour: {
        type: String,
        default: "#F2CA00",
        required: false
    }
  },
  data: () => {
    return {};
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

$sizeContainer = 70px
$sizeWrapper = 43px
$badgeSize = 10px
$offset = 25px
$specifierWidth = 8px

.iconContainer
  opacity: 1

  .iconHolder
    display: flex
    align-items: center
    justify-content: center

    .iconContainerInner
      display: flex
      align-items: center
      justify-content: center
      height: $sizeContainer
      width: $sizeContainer
      border-radius: 50%
      border: 2px solid darken($astraWhite, 1%)
      transition: transform $defaultAnimationDuration

      &:hover
        border: 2px solid darken($astraWhite, 4%)
        cursor: pointer

      .badge
        width: $badgeSize
        height: $badgeSize
        background: $astraPurple
        position: absolute
        transform: translate(25px, -25px)
        border-radius: 50%
        border: 4px solid $astraPureWhite
        z-index: 5

      .iconWrapper
        height: $sizeWrapper
        width: $sizeWrapper
        border-radius: 50%
        background: darken($astraWhite, 1%)
        display: @display
        align-items: @align-items
        justify-content: @justify-content

        .imageWrapper
          height: $sizeWrapper
          width: $sizeWrapper
          display: @display
          align-items: @align-items
          justify-content: @justify-content

          img
            width: @width
            height: @height
            border-radius: 50%


</style>
