<<<<<<< HEAD:src/views/public/channels/astraWorkspaceSelector/containers/channelContainers/components/pinnedNotes.vue
<template>
  <div class="pinnedNotesCard">
    <div class="pinnedNotesCardContainer">
      <div class="halfContainerReflow"></div>
      <div class="halfContainer">
        <div class="amountCard">
          <h1>{{ amountOfItems }}</h1>
        </div>
        <div class="informationContainer">
          <h1>
            <hashtag />
            {{ channelName }} ·
            <span>
              {{ channelType }}
            </span>
          </h1>
          <h2>
            {{ workspaceName }} · <b>{{ lastUpdate }}</b>
          </h2>
          <div class="iconGrid">
            <slot></slot>
            <div class="seperator">
              <h1>·</h1>
            </div>
            <profilePicture
              v-for="userData in teamMembers"
              :key="userData.name"
              :profilePicture="userData.profilePicture"
              outer="45px"
              inner="40px"
              borderColour="#F5F6FD"
              style="margin: 0"
              class="childProfilePicture"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="backgroundContainer">
      <!--
        <astraTopologyHercules v-bind:backgroundWidth="backgroundWidth" />
      -->
    </div>
  </div>
</template>

<script>
// Third party components
import Trend from "vuetrend";

// Global components
import astraTopologyHercules from "@/components/astraArtwork/astraTopologyHercules.vue";
import profilePicture from "@/components/profilePicture.vue";

// Icons
import plusCircle from "@/assets/astraIcons/plus-circle.svg?inline";
import hashtag from "@/assets/astraIcons/hashtag.svg?inline";
import googleSvg from "@/assets/workspaceIcons/google.svg?inline";

export default {
  name: "addAstraWorkspaceCard",
  components: {
    astraTopologyHercules,

    profilePicture,

    plusCircle,
    hashtag,
    googleSvg,

    Trend
  },
  props: {
    backgroundWidth: {
      required: true
    },
    amountOfItems: {
      type: Number,
      default: "?"
    },
    channelName: {
      type: String,
      required: true
    },
    channelType: {
      type: String,
      required: true
    },
    workspaceName: {
      type: String,
      required: true
    },
    lastUpdate: {
      type: String,
      required: true
    },
    teamMembers: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.pinnedNotesCard
  background: $astraPureWhite
  width: $pinnedNotesWidth
  height: $pinnedNotesHeight
  border-radius: 14px
  position: relative

  &:hover
    cursor: pointer

    // .backgroundContainer
    //   filter: brightness(50%)
    //
    // .pinnedNotesCardContainer
    //   .halfContainerReflow
    //     transform: translateY(-220px)
    //     transition: all $defaultAnimationDuration linear
    //
    //   .halfContainer
    //     .amountCard
    //       box-shadow: none
    //       border: 2px solid $astraDarkPurple


  .pinnedNotesCardContainer
    position: absolute
    width: @width
    height: @height
    z-index: 5
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr

    .halfContainerReflow
      border-radius: 14px
      position: absolute
      height: 220px
      margin-top: 220px
      background: $astraPureWhite
      width: 100%
      z-index: 4
      transition: transform $defaultAnimationDuration linear

    .halfContainer
      background: $astraPureWhite
      border-bottom-left-radius: 14px
      border-bottom-right-radius: 14px
      grid-area: 2 / 1 / 3 / 2
      z-index: 5

      .informationContainer
        padding: 35px

        h1
          font-family: 'Open Sans', sans-serif;
          color: lighten($astraDark, 10%)
          font-weight: 600
          font-size: 25px
          margin-top: 10px
          margin-bottom: 0px

          span
            color: lighten($astraDark, 20%)
            font-weight: 500

          svg
            width: @font-size
            margin: 0
            transform: translateY(2px)
            vertical-align: middle
            fill: @color


        h2
          font-family: 'Open Sans', sans-serif;
          color: lighten($astraDark, 50%)
          font-weight: 600
          font-size: 20px
          margin-top: 5px

          b
            font-weight: 500

        .iconGrid
          display: grid
          grid-template-columns: 45px 5px repeat(auto-fill, 10px)
          grid-template-rows: 1fr
          grid-gap: 15px

          &:hover
            transition: grid-template-columns $longAnimationDuration linear

          .seperator
            display: flex
            justify-content: center
            align-items: center

            h1
              margin: 0
              color: lighten($astraDark, 50%)
              font-family: 'Open Sans', sans-serif;

          .material-icons
            margin: 0
            font-size: 45px
            color: lighten($astraDark, 50%)

          svg
            path
              fill: lighten($astraDark, 50%)

      .amountCard
        position: absolute
        width: 70px
        height: 70px
        background: $astraPureWhite
        border-radius: 14px
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.18)
        transform: translate(@height / 2, (@height / 2) * -1)
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        transition: all $defaultAnimationDuration linear
        box-sizing: border-box

        h1
          font-family: 'Poppins', sans-serif;
          color: $astraDarkPurple
          font-weight: 600

  .backgroundContainer
    width: @width
    height: @height
    overflow: hidden
    position: absolute
    background: darken($astraWhite, 4%)
    border-radius: @border-radius
    transition: filter $defaultAnimationDuration linear
    display: flex
    align-items: center
    justify-content: center

    //svg
      //opacity: 0.6
      //transform: translate(-65px, -65px)
</style>
=======
<template>
  <div class="pinnedNotesCard">
    <div class="pinnedNotesCardContainer">
      <div class="halfContainerReflow"></div>
      <div class="halfContainer">
        <div class="amountCard">
          <h1>{{ amountOfItems }}</h1>
        </div>
        <div class="informationContainer">
          <h1>
            <hashtag />
            {{ channelName }} ·
            <span>
              {{ channelType }}
            </span>
          </h1>
          <h2>
            {{ workspaceName }} · <b>{{ lastUpdate }}</b>
          </h2>
          <div class="iconGrid">
            <slot></slot>
            <div class="seperator">
              <h1>·</h1>
            </div>
            <profilePicture
              v-for="userData in teamMembers"
              :key="userData.name"
              :profilePicture="userData.profilePicture"
              outer="45px"
              inner="40px"
              borderColour="#F5F6FD"
              style="margin: 0"
              class="childProfilePicture"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="backgroundContainer">
      <!--
        <astraTopologyHercules v-bind:backgroundWidth="backgroundWidth" />
      -->
    </div>
  </div>
</template>

<script>
// Global components
import astraTopologyHercules from "@/components/astraArtwork/astraTopologyHercules.vue";
import profilePicture from "@/components/profilePicture.vue";

// Icons
import plusCircle from "@/assets/astraIcons/plus-circle.svg?inline";
import hashtag from "@/assets/astraIcons/hashtag.svg?inline";
import googleSvg from "@/assets/workspaceIcons/google.svg?inline";

export default {
  name: "addAstraWorkspaceCard",
  components: {
    astraTopologyHercules,

    profilePicture,

    plusCircle,
    hashtag,
    googleSvg
  },
  props: {
    backgroundWidth: {
      required: true
    },
    amountOfItems: {
      type: Number,
      default: "?"
    },
    channelName: {
      type: String,
      required: true
    },
    channelType: {
      type: String,
      required: true
    },
    workspaceName: {
      type: String,
      required: true
    },
    lastUpdate: {
      type: String,
      required: true
    },
    teamMembers: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.pinnedNotesCard
  background: $astraPureWhite
  width: $pinnedNotesWidth
  height: $pinnedNotesHeight
  border-radius: 14px
  position: relative

  &:hover
    cursor: pointer

    // .backgroundContainer
    //   filter: brightness(50%)
    //
    // .pinnedNotesCardContainer
    //   .halfContainerReflow
    //     transform: translateY(-220px)
    //     transition: all $defaultAnimationDuration linear
    //
    //   .halfContainer
    //     .amountCard
    //       box-shadow: none
    //       border: 2px solid $astraDarkPurple


  .pinnedNotesCardContainer
    position: absolute
    width: @width
    height: @height
    z-index: 5
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr

    .halfContainerReflow
      border-radius: 14px
      position: absolute
      height: 220px
      margin-top: 220px
      background: $astraPureWhite
      width: 100%
      z-index: 4
      transition: transform $defaultAnimationDuration linear

    .halfContainer
      background: $astraPureWhite
      border-bottom-left-radius: 14px
      border-bottom-right-radius: 14px
      grid-area: 2 / 1 / 3 / 2
      z-index: 5

      .informationContainer
        padding: 35px

        h1
          font-family: 'Open Sans', sans-serif;
          color: lighten($astraDark, 10%)
          font-weight: 600
          font-size: 25px
          margin-top: 10px
          margin-bottom: 0px

          span
            color: lighten($astraDark, 20%)
            font-weight: 500

          svg
            width: @font-size
            margin: 0
            transform: translateY(2px)
            vertical-align: middle
            fill: @color


        h2
          font-family: 'Open Sans', sans-serif;
          color: lighten($astraDark, 50%)
          font-weight: 600
          font-size: 20px
          margin-top: 5px

          b
            font-weight: 500

        .iconGrid
          display: grid
          grid-template-columns: 45px 5px repeat(auto-fill, 10px)
          grid-template-rows: 1fr
          grid-gap: 15px

          &:hover
            transition: grid-template-columns $longAnimationDuration linear

          .seperator
            display: flex
            justify-content: center
            align-items: center

            h1
              margin: 0
              color: lighten($astraDark, 50%)
              font-family: 'Open Sans', sans-serif;

          .material-icons
            margin: 0
            font-size: 45px
            color: lighten($astraDark, 50%)

          svg
            path
              fill: lighten($astraDark, 50%)

      .amountCard
        position: absolute
        width: 70px
        height: 70px
        background: $astraPureWhite
        border-radius: 14px
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.18)
        transform: translate(@height / 2, (@height / 2) * -1)
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        transition: all $defaultAnimationDuration linear
        box-sizing: border-box

        h1
          font-family: 'Poppins', sans-serif;
          color: $astraDarkPurple
          font-weight: 600

  .backgroundContainer
    width: @width
    height: @height
    overflow: hidden
    position: absolute
    background: darken($astraWhite, 4%)
    border-radius: @border-radius
    transition: filter $defaultAnimationDuration linear
    display: flex
    align-items: center
    justify-content: center

    //svg
      //opacity: 0.6
      //transform: translate(-65px, -65px)
</style>
>>>>>>> 1b0998ef3d2a454d8a148e4e6f90b17da7e93943:src/views/public/channels/astraWorkspace/containers/channelContainers/components/pinnedNotes.vue
