<template>
  <div class="astraAppContainer">
    <!-- Top level component -->
    <fullscreenContainer />
  </div>
</template>

<script>
import fullscreenContainer from "@/views/public/fullscreenContainer/fullscreenContainer.vue";

export default {
  name: "astraAppContainer",
  components: {
    fullscreenContainer
  }
};
</script>

<style lang="stylus">
@import "~@/globals/config.styl"

.astraAppContainer
  height: calc(100vh - 20px) // 20px = $statusBarHeight
</style>
