<template>
  <div class="astraWorkspace">
    <workspaceOverview />
    <channelsOverview />
  </div>
</template>

<script>
// Containerss
import workspaceOverview from "./containers/workspaceContainers/workspaceOverview.vue";
import channelsOverview from "./containers/channelContainers/channelsOverview.vue";

export default {
  name: "astraWorkspace",
  components: {
    workspaceOverview,
    channelsOverview
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.astraWorkspace
  overflow-y: auto
  padding-bottom: 50px
</style>
