<template>
  <div class = "createdWorkspaceView">
    <div class = "containerWorkspaceView">
      <channelPicker/>
      <baseView/>
    </div>
  </div>
</template>

<script>
import channelPicker from "./components/channelPicker.vue";
import baseView from "./channels/base/baseView.vue";

export default {
  name: "createdWorkspaceView",
  components: {
    channelPicker,
    baseView
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.createdWorkspaceView
  background: $astraDark
  border-top-left-radius: 20px
  
  .containerWorkspaceView
    height: 100%
    width: 100%
    display: grid
    grid-template-columns: 330px 1fr
    grid-template-rows: 1fr
</style>
