<template>
  <div class = "baseView">
    <div class = "header">
      <div class = "headerSection">
        <h1>
          <span class = "guildName">
            Google
          </span>
          <span>
            Git updates
          </span>
        </h1>
        <div class = "svgHeaderContainer">
          <chevronDown/>
        </div>
      </div>
    </div>
    <div class = "mainSection">
      <div class = "contentsSection"></div>
      <div class = "submitWrapper">
        <div class = "submitContainer">
          <div class = "textContainer">
            <div class = "addAttachmentContainer">
              <div class = "addAttachment">
                <plus/>
              </div>
            </div>
            <div class = "inputWrapper">
              <input placeholder = "Message #git-updates..." type="text">
            </div>
            <div class = "extraContainer">
              <div class = "svgContainer">
                <ping/>
              </div>

              <div class = "svgContainer">
                <smile/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import chevronDown from "@/assets/astraIcons/chevron-down.svg?inline"
import plus from "@/assets/astraIcons/plus.svg?inline";
import smile from "@/assets/astraIcons/smile.svg?inline";
import ping from "@/assets/astraIcons/ping.svg?inline";

export default {
  name: "base",
  components: {
    chevronDown, plus, smile, ping
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"
$defaultPaddingLeft = 50px

.baseView
  background: $astraNearPureWhite
  display: grid
  grid-template-rows: 85px 1fr
  grid-template-columns: 1fr

  .mainSection
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 100px

    .submitWrapper
      background: $astraNearPureWhite
      display: flex
      justify-content: center
      align-items: center

      .submitContainer
        height: 45px
        width: 100%
        margin-left: $defaultPaddingLeft
        display: grid
        grid-template-columns: 95% 1fr

        .textContainer
          display: grid
          grid-template-columns: @height 1fr 80px
          grid-gap: 25px

          .inputWrapper
            display: flex
            //align-items: center

            input
              outline: none
              border: 0
              font-size: 16px
              font-weight: 500
              color: $astraGrey
              font-family: 'Open Sans', sans-serif
              width: 100%
              // padding-left: 18px
              border-radius: 5px

              &::placeholder
                color: @color
          
          .extraContainer
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 17px

            .svgContainer
              display: flex 
              justify-content: center
              align-items: center

              svg
                stroke: darken($astraNearPureWhite, 20%)
                transform: scale(1.2)

                &:hover
                  stroke: darken($astraNearPureWhite, 25%)
                  cursor: pointer

          .addAttachmentContainer
            display: flex
            justify-content: center
            align-items: center

            &:hover
              cursor: pointer

            .addAttachment
              height: 34px
              width: @height
              background: $astraPurple
              border-radius: 50%
              box-shadow: 0px 7px 20px rgba($astraPurple, 0.4)
              display: flex
              justify-content: center
              align-items: center

              svg
                stroke: $astraPureWhite
                transform: scale(0.8)

  .header
    border-bottom: 1.15px solid darken($astraWhite, 7.5%)
    display: flex
    align-items: center
    justify-content: space-between

    .headerSection
      display: grid
      grid-template-columns: 1fr 45px
      grid-template-rows: 1fr

      &:hover
        cursor: pointer

      .svgHeaderContainer
        display: flex
        justify-content: center
        align-items: center

        svg
          width: 24px
          height: 24px
          stroke: lighten($astraPurpleSlate, 65%)
          transform: translateY(1.5px)

      h1
        font-family: 'Poppins', sans-serif
        font-size: 20px
        margin: 0
        margin-left: $defaultPaddingLeft

        .guildName
          color: lighten($astraPurpleSlate, 65%)
          font-weight: 500
          
          &:after
            content: " / "

        span
          font-weight: 600
          color: lighten($astraPurpleSlate, 20%)
</style>
