<template>
  <div class="fullScreenModal" v-if="layoutData.shouldDisplayModalComputed" @click = "closeAddWorkspaceModal({
    ignore: '.workspaceJoinCard',
    vm: $event
  })">
    <div class="workspaceJoinCard">
      <div class="titleBar">
        <div class="titleBarInner">
          <workspace />
          <div class="titleBarHeading">
            <h1>
              Join or create a workspace
            </h1>
          </div>
        </div>
      </div>
      <div class="mainCard">
        <div class="childCard">
          <template v-if="layoutData.choiceComponent">
            <div
              class="workspaceCard workspaceLeftCard"
              @click="createWorkspace()"
            >
              <div class="titleContainer">
                <h1>{{ workspaceCards.createWorkspace.title }}</h1>
                <p>
                  {{ workspaceCards.createWorkspace.description }}
                </p>
              </div>
              <div class="imageContainer">
                <img :src="workspaceCards.createWorkspace.image" />
              </div>
              <div class="ButtonContainer">
                <div class="buttonElement">
                  <h1>{{ workspaceCards.createWorkspace.buttonText }}</h1>
                </div>
              </div>
            </div>

            <div
              class="workspaceCard workspaceRightCard"
              @click="joinWorkspace()"
            >
              <div class="titleContainer">
                <h1>{{ workspaceCards.joinWorkspace.title }}</h1>
                <p>
                  {{ workspaceCards.joinWorkspace.description }}
                </p>
              </div>
              <div class="imageContainer">
                <img :src="workspaceCards.joinWorkspace.image" />
              </div>
              <div class="ButtonContainer">
                <div class="buttonElement">
                  <h1>{{ workspaceCards.joinWorkspace.buttonText }}</h1>
                </div>
              </div>
            </div>
          </template>

          <template v-else-if="layoutData.createWorkspaceDialog">
            <div class="createWorkspaceCard">
              <div class="headingInformation">
                <div class="headingContainer">
                  <h1>
                    By creating a workspace, you will be given access to various
                    channels such as Code Journals, Moodboards and Notebooks
                  </h1>
                </div>
              </div>
              <div class="createCard">
                <div class="createCardContainer">
                  <div class="leftCard">
                    <div class="guildNameCard">
                      <h1>Workspace name</h1>
                      <input placeholder="Enter a workspace name" />
                    </div>
                    <div class="guildIconCard">
                      <div class="iconCard">
                        <i class="material-icons">cloud_upload</i>
                        <h1>
                          Click here to select a workspace icon
                        </h1>
                      </div>
                    </div>
                  </div>
                  <div class="rightCard">
                    <h1>Select a server background</h1>
                    <div
                      class="backgroundSelector"
                      v-on:scroll="hideScrollNotification"
                    >
                      <div
                        v-for="previewData in workspacePreviewCards"
                        v-bind:key="previewData.svgElement"
                        class="backgroundCard"
                        v-bind:style="{
                          backgroundColor: previewData.backgroundColour
                        }"
                      >
                        <img :src="previewData.svgElement" />
                      </div>
                    </div>
                    <div class="arrowCard">
                      <i class="material-icons">expand_more</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <template v-else-if="layoutData.joinWorkspaceDialog">
            <div class="joinWorkspaceCard">
              <div class="headingInformation">
                <div class="headingContainer">
                  <h1>
                    Enter an instant invite code below to join an existing
                    server, an invite code will look something like these:
                  </h1>
                  <h3>join.astraea.app/aeST4x</h3>
                  <h3>join.astraea.app/astraea-orientation</h3>
                  <h3>sdytrsf3</h3>
                </div>
              </div>
              <div class="joinCard">
                <div class="joinCardContainer">
                  <input />
                  <h3>Enter instant invite</h3>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="bottomBar">
        <template v-if="layoutData.shouldShowBottomBar">
          <div class="bottomBarInner">
            <div class="arrowLeft" @click="goBack()">
              <div class="alignContainer">
                <arrowLeft />
              </div>
              <div class="alignContainer">
                <h1>BACK</h1>
              </div>
            </div>
            <button :disabled="!animationData.creatingWorkspace.workspaceReady">
              Create
            </button>
          </div>
        </template>
        <template v-else>
          <div class="bottomBarInner bottomBarInnerClose">
            <div class="arrowLeft" @click = "closeAddWorkspaceModal()">
              <div class="alignContainer">
                <exitIcon />
              </div>
              <div class="alignContainer">
                <h1>Press <b>ESC</b> to close this window or click here</h1>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
// Icons
import Vue from "vue";
import workspace from "@/assets/astraIcons/workspace.svg?inline";
import arrowLeft from "@/assets/astraIcons/arrow-left.svg?inline";
import exitIcon from "@/assets/astraIcons/x-circle.svg?inline";
// cardPreviews
import Hercules from "@/assets/astraArtwork/previewCards/Hercules.svg";
import Leo from "@/assets/astraArtwork/previewCards/Leo.svg";
import Vela from "@/assets/astraArtwork/previewCards/Vela.svg";

export default {
  name: "addWorkspaceModal",
  components: {
    arrowLeft: arrowLeft,
    workspace: workspace,
    exitIcon: exitIcon,
    Hercules: Hercules,
    Leo: Leo
  },
  data: () => {
    return {
      layoutData: {
        shouldDisplayModalComputed: false,
        choiceComponent: true,
        createWorkspaceDialog: false,
        joinWorkspaceDialog: false,
        shouldShowBottomBar: false
      },
      workspaceCards: {
        createWorkspace: {
          image: require("@/assets/astraArtwork/pabloArt/signUp.svg"), //require("@/assets/astraArtwork/createWorkspace.png"),
          description: "Create your own workspace and invite your teammates",
          title: "CREATE",
          buttonText: "Create a workspace"
        },
        joinWorkspace: {
          image: require("@/assets/astraArtwork/pabloArt/coffeeBreak.svg"), //require("@/assets/astraArtwork/joinWorkspace.png"),
          description:
            "Join a teammates workspace, all you need is an invite code",
          title: "JOIN",
          buttonText: "Join a workspace"
        }
      },
      workspacePreviewCards: [
        {
          svgElement: Leo,
          backgroundColour: "#45467a"
        },
        {
          svgElement: Hercules,
          backgroundColour: "#45467a"
        },
        {
          svgElement: Vela,
          backgroundColour: "#45467a"
        }
      ],
      animationData: {
        modalWidth: "750px",
        hasHiddenScrollNotification: false,
        creatingWorkspace: {
          workspaceReady: false
        },
        fullScreenModalName: "fullScreenModal"
      }
    };
  },
  computed: {
    Hercules() {
      return Hercules;
    },
    Leo() {
      return Leo;
    },
    Vela() {
      return Vela;
    },
    shouldDisplayModal() {
      let currentVisibility = this.$store.state.modalStore.addWorkspaceCard
        .visible;
      return currentVisibility;
    }
  },
  methods: {
    goBack: function() {
      this.$animate
        .timeline({
          autoplay: true
        })
        .add({
          targets: [
            this.$el.querySelectorAll(".createWorkspaceCard"),
            this.$el.querySelectorAll(".joinWorkspaceCard")
          ],
          translateX: "-" + this.animationData.modalWidth,
          easing: "easeInOutQuad",
          duration: 250,
          complete: () => {
            this.$el.querySelector(".childCard").style.gridTemplateColumns =
              "1fr 1fr";
            let styleModifications = [
              ...this.$el.querySelectorAll(".workspaceCard")
            ].map(div => {
              div.style.display = "none";
            });
            this.layoutData.choiceComponent = true;
            Vue.nextTick(() => {
              this.layoutData.createWorkspaceDialog = false;
              Vue.nextTick(() => {
                this.$animate({
                  targets: this.$el.querySelectorAll(".bottomBarInner"),
                  opacity: 0,
                  easing: "easeInOutQuad",
                  duration: 250,
                  complete: () => {
                    this.layoutData.shouldShowBottomBar = false;
                    Vue.nextTick(() =>
                      this.$animate({
                        targets: this.$el.querySelectorAll(
                          ".bottomBarInnerClose"
                        ),
                        opacity: 1,
                        easing: "easeInOutQuad",
                        duration: 250,
                        begin: () => {
                          console.log(
                            "Showing element again from the back",
                            this.$el.querySelectorAll(".bottomBarInnerClose")
                          );
                        }
                      })
                    );
                  }
                });
                this.$animate({
                  targets: this.$el.querySelectorAll(".workspaceCard"),
                  translateX: ["750px", "0px"],
                  easing: "easeInOutQuad",
                  duration: 250,
                });
              });
            });
          }
        });
    },
    hideScrollNotification: function() {
      if (this.hasHiddenScrollNotification) return;
      this.hasHiddenScrollNotification = true;

      let notificationCircle = this.$el.querySelector(".arrowCard");
      let computedTransform = window
        .getComputedStyle(notificationCircle)
        .getPropertyValue("transform")
        .split(",")
        .map(computed => computed.replace(/[^\d.]/g, ""))
        .filter(computed => parseInt(computed) > 1);

      return this.$animate({
        targets: notificationCircle,
        duration: 150,
        opacity: 0,
        marginTop: "10px",
        easing: "linear"
      });
    },
    alterSVG: vm => {
      let SVG = vm.$el
        .getElementsByClassName("titleBarInner")[0]
        .getElementsByTagName("svg")[0];

      Object.entries({
        width: 35,
        height: 35,
        stroke: "#6852D9"
      }).map(compoundedData => {
        let [name, value] = [compoundedData[0], compoundedData[1]];

        SVG.setAttribute(name, value);
      });
    },
    animateDiv: (vm, targetDiv, layoutDataCardType) =>
      new Promise((divRendered, _) =>
        vm.$animate
          .timeline({
            autoplay: true
          })
          .add({
            targets: vm.$el.querySelectorAll(".workspaceCard"),
            translateX: vm.animationData.modalWidth,
            easing: "easeInOutQuad",
            duration: 250,
            begin: () =>
              vm.$animate({
                targets: vm.$el.querySelectorAll(".bottomBarInnerClose"),
                opacity: 0,
                easing: "easeInOutQuad",
                duration: 250
              }),
            complete: () => {
              vm.$el.querySelector(".childCard").style.gridTemplateColumns =
                "1fr";
              let styleModifications = [
                ...vm.$el.querySelectorAll(".workspaceCard")
              ].map(div => {
                div.style.display = "none";
              });

              vm.layoutData.choiceComponent = false;
              Vue.nextTick(() => {
                vm.layoutData.shouldShowBottomBar = true;
                vm.layoutData[layoutDataCardType] = true;

                Vue.nextTick(() => {
                  vm.$animate({
                    targets: vm.$el.querySelectorAll(".bottomBarInner"),
                    opacity: 1,
                    easing: "easeInOutQuad",
                    duration: 250
                  });

                  vm.$animate({
                    targets: vm.$el.querySelectorAll(targetDiv),
                    translateX: ["-750px", "0px"],
                    easing: "easeInOutQuad",
                    duration: 250,
                    begin: divRendered
                  });
                });
              });
            }
          })
      ),
    joinWorkspace: function() {
      this.animateDiv(this, ".joinWorkspaceCard", "joinWorkspaceDialog").then(
        () =>
          this.$el
            .querySelector(".joinWorkspaceCard .joinCardContainer input")
            .focus()
      );
    },
    createWorkspace: function() {
      this.animateDiv(
        this,
        ".createWorkspaceCard",
        "createWorkspaceDialog"
      ).then(() =>
        this.$el
          .querySelector(".createWorkspaceCard .guildNameCard input")
          .focus()
      );
    },
    alterModalDisplay: (vm, properties) => {
      return vm.$animate
        .timeline()
        .add({
          targets: vm.$el,
          opacity: +properties.shouldDisplay,
          duration: 250,
          easing: "easeInOutQuad",
        })
        .add({
          targets: vm.$el.querySelector(".workspaceJoinCard"),
          opacity: +properties.shouldDisplay,
          scale: properties.shouldDisplay ? [0.5, 1] : [1, 0.5],
          duration: 150,
          easing: "easeInOutQuad",
          ...properties.additional
        }, "-=250")
    },
    closeAddWorkspaceModal: function(data){
      if (
        !data || (data.ignore && data.vm.target.className === this.animationData.fullScreenModalName) 
      ){
        this.$store.commit({
          type: "toggleVisibility",
          override: false
        });
      }
    }
  },
  watch: {
    shouldDisplayModal: function(newValue) {
      if (newValue) {
        this.layoutData.shouldDisplayModalComputed = newValue
        Vue.nextTick(() => {
          this.alterModalDisplay(this, {
            shouldDisplay: true
          })
          this.alterSVG(this);
        });
      } else {
        Vue.nextTick(() => {
          this.alterModalDisplay(this, {
            shouldDisplay: false,
            additional: {
              begin: () => {
                setTimeout( () => {
                  this.layoutData.shouldDisplayModalComputed = newValue
                }, 200)
              },
              complete: () => {
                this.layoutData.shouldDisplayModalComputed = false
                this.layoutData.choiceComponent = true
                this.layoutData.createWorkspaceDialog = false
                this.layoutData.joinWorkspaceDialog = false
                this.layoutData.shouldShowBottomBar = false
              }
            }
          })
        });
      }
    }
  },
  mounted: function(){
    document.addEventListener("keydown", (event) => {
      if (this.layoutData.shouldDisplayModalComputed && event.keyCode == 27) {
        this.closeAddWorkspaceModal();
      }
    });
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.slide-fade-enter-active 
  transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-leave-active 
  transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateY(10px)
  opacity: 0

.fullScreenModal
  width: 100vw
  height: 100vh
  position: absolute
  background: rgba($astraDark, 0.8)
  z-index: 10
  display: flex
  justify-content: center
  align-items: center
  opacity: 0

  .workspaceJoinCard
    background: $astraWhite
    width: 750px
    height: 560px
    border-radius: 10px
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.18)
    overflow: hidden
    transform: scale(0.5)

    .mainCard
      width: 100%
      height: 500px - 60px
      display: flex
      justify-content: center
      align-items: center

      .childCard
        width: 87%
        height: 85%
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        grid-gap: 50px

        .joinWorkspaceCard
          border-radius: 10px
          transform: translateY(-750px)
          background:$astraPureWhite
          display: grid
          grid-template-rows: auto 1fr
          grid-template-columns: 1fr
          grid-gap: 40px

          .headingInformation
            display: flex
            justify-content: center
            align-items: center
            margin-top: 30px

            .headingContainer
              width: 90%
              display: flex
              justify-content: center
              align-items: center
              flex-direction: column

              h1
                font-family: 'Open Sans', sans-serif;
                font-size: $mediumFontSize
                font-weight: 600
                text-align: center
                color: grey
                margin-bottom: 25px

              h3
                color: $astraPurple
                font-family: 'Open Sans', sans-serif;
                font-size: $mediumFontSize
                margin: 0
                font-weight: 500

          .joinCard
            display: flex
            justify-content: center
            align-items: center

            .joinCardContainer
              height: 100%
              width: 50%

              h3
                color: lighten($astraDark, 50%)
                font-family: 'Open Sans', sans-serif
                font-size: $smallFontSize
                font-weight: 600
                margin-top: 5px

              input
                width: 100%
                color: $astraDarkLightened
                border: 0
                padding-top: 6px
                padding-bottom: @padding-top
                font-weight: 500
                font-family: 'Open Sans', sans-serif
                font-size: $mediumFontSize
                border-bottom: 2px solid $astraWhite
                resize: none
                overflow: hidden
                outline: none
                transition: border-bottom $defaultAnimationDuration

                &:hover
                  border-bottom: 2px solid darken($astraWhite, 15%)

                &:focus
                  border-bottom: 2px solid $astraPurple

        .createWorkspaceCard
          border-radius: 10px
          transform: translateY(-750px)
          background:$astraPureWhite
          display: grid
          grid-template-rows: auto 1fr
          grid-template-columns: 1fr
          grid-gap: 20px

          .createCard
            display: flex
            justify-content: center
            align-items: center

            .createCardContainer
              height: 100%
              width: 85%
              display: grid
              grid-template-columns: 1fr 1fr
              grid-template-rows: 1fr
              grid-gap: 50px

              .rightCard
                display: grid
                grid-template-rows: auto 1fr
                grid-template-columns: 1fr
                grid-gap: 0px
                height: 100%

                .arrowCard
                  position: absolute
                  display: flex
                  align-items: center
                  justify-content: center
                  transform: translate(465px, 315px)

                  i
                    border-radius: 50%
                    padding: 2px
                    background: $astraWhite
                    color: $astraSlate

                h1
                  font-family: 'Open Sans', sans-serif
                  font-size: $smallFontSize
                  font-weight: 700
                  color: $astraDarkLightened
                  text-transform: uppercase

                .backgroundSelector::-webkit-scrollbar
                  width: 0px

                .backgroundSelector
                  border-radius: 10px
                  display: grid
                  grid-template-rows: repeat(auto-fit, 99.25px)
                  grid-template-columns: 1fr
                  overflow-y: auto
                  grid-gap: 5px
                  height: 203.5px

                  .backgroundCard
                    height: 99.25px
                    border-radius: 10px
                    overflow: hidden
                    display: flex
                    justify-content: center
                    align-items: center
                    transition: transform, filter $defaultAnimationDuration linear

                    &:hover
                      cursor: pointer
                      filter: brightness(110%)

                    img
                      width: 150%
                      height: 150%
                      border-radius: 10px

              .leftCard
                .guildIconCard
                  display: flex
                  justify-content center
                  align-items: center
                  flex-direction: column
                  height: 75%

                  .iconCard
                    width: 100%
                    height: 75%
                    border-radius: 10px
                    background-color: $astraWhite
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column

                    h1
                      font-family: 'Open Sans', sans-serif
                      font-size: $smallFontSize
                      font-weight: 700
                      color: darken(@background-color, 30%)
                      text-align: center
                      width: 85%

                    i
                      color: darken(@background-color, 30%)
                      font-size: 50px

                .guildNameCard
                  display: flex
                  justify-content center
                  flex-direction: column

                  h1
                    font-family: 'Open Sans', sans-serif
                    font-size: $smallFontSize
                    font-weight: 700
                    color: $astraDarkLightened
                    text-transform: uppercase

                  input
                    color: $astraDarkLightened
                    border: 0
                    padding-top: 6px
                    padding-bottom: @padding-top
                    font-weight: 500
                    font-family: 'Open Sans', sans-serif
                    font-size: $mediumFontSize
                    border-bottom: 2px solid $astraWhite
                    resize: none
                    overflow: hidden
                    outline: none
                    transition: border-bottom $defaultAnimationDuration

                    &:hover
                      border-bottom: 2px solid darken($astraWhite, 15%)

                    &:focus
                      border-bottom: 2px solid $astraPurple

          .headingInformation
            display: flex
            justify-content: center
            align-items: center
            margin-top: 30px

            .headingContainer
              width: 90%
              display: flex
              justify-content: center
              align-items: center

              h1
                font-family: 'Open Sans', sans-serif;
                font-size: $mediumFontSize
                font-weight: 600
                text-align: center
                color: grey

        .workspaceCard
          border-radius: 10px
          background: $astraPureWhite
          display: grid
          grid-template-rows: 100px 175px auto
          grid-template-columns: 1fr

          .ButtonContainer
            display: flex
            justify-content: center
            align-items: center

            .buttonElement
              width: 85%
              height: 50px
              border-radius: 6px
              display: flex
              justify-content: center
              align-items: center

              h1
                font-family: 'Poppins', sans-serif;
                font-size: 17px
                font-weight: 400

          .imageContainer
            display: flex
            justify-content: center
            align-items: center

            img
              width: 300px

          .titleContainer
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            h1
              font-family: 'Poppins', sans-serif;
              font-weight: 500
              font-size: 20px
              font-variant: small-caps

            p
              font-family: 'Poppins', sans-serif;
              color: $astraSlate
              opacity: 0.5
              font-weight: 500
              font-size: 15px
              margin: 0
              text-align: center
              padding-left: 25px
              padding-right: @padding-left

    .workspaceLeftCard
      &:hover
        cursor: pointer

        .buttonElement
          background: darken($astraPurple, 10%)

      .titleContainer
        h1
          color: $astraPurple

      .buttonElement
        background: $astraPurple
        transition: background $defaultAnimationDuration linear

        h1
          color: $astraWhite

    .workspaceRightCard
      &:hover
        cursor: pointer

        .buttonElement
          background: darken($astraGreen, 10%)

      .titleContainer
        h1
          color: $astraGreen

      .buttonElement
        background: $astraGreen
        transition: background $defaultAnimationDuration linear

        h1
          color: $astraWhite

    .bottomBar
      width: 100%
      height: 60px
      //border-top: 1px solid #e0e0e0
      background: $astraPureWhite
      display: flex
      justify-content: center
      align-items: center

      .bottomBarInner
        width: 87%
        height: 35px
        display: grid
        grid-template-columns: auto 1fr
        grid-template-rows: 1fr
        grid-gap: 20px
        opacity: 0

        button
          background: $astraPurple
          height: 35px
          width: 120px
          border-radius: 3px
          display: flex
          justify-content: center
          align-items: center
          margin-left: auto
          border: none
          font-family: "Open Sans", sans-serif
          font-size: 15px
          font-weight: 600
          transition: background, color $defaultAnimationDuration linear
          color: $astraWhite

          &:hover
            cursor: pointer
            background: darken(@background, 10%)

          &:disabled,
          &[disabled]
            color: lighten($astraDark, 50%)
            background: $astraWhite

          &:focus
            outline: 0

        .arrowLeft
          display: grid
          grid-template-columns: 35px auto

          &:hover
            cursor: pointer

            .alignContainer
              svg
                stroke: lighten($astraDarkLightened, 10%)

              h1
                color: lighten($astraDarkLightened, 10%)

          .alignContainer
            display: flex
            justify-content: center
            align-items: center

            svg
              stroke: lighten($astraDarkLightened, 20%)
              transform: scale(0.7)
              transition: stroke $defaultAnimationDuration linear

            h1
              font-family: 'Poppins', sans-serif;
              color: lighten($astraDarkLightened, 20%)
              font-weight: 500
              font-size: 17px
              margin: 0
              transition: stroke $defaultAnimationDuration linear

              b
                font-weight: 600
                color: lighten($astraDarkLightened, 10%)
                background: lighten($astraDarkLightened, 85%)
                padding: 4px
                padding-left: 6.5px
                padding-right: 6.5px
                border-radius: 4px
                margin-left: 1px
                margin-right: 1px

      .bottomBarInnerClose
        opacity: 1

        .arrowLeft
          grid-gap: 5px

    .titleBar
      width: 100%
      height: 60px
      border-bottom: 1px solid #e0e0e0
      display: flex
      justify-content: center
      align-items: center

      .titleBarInner
        width: 96%
        height: 35px
        display: grid
        grid-template-columns: 35px 1fr
        grid-template-rows: 1fr
        grid-gap: 20px

      .titleBarHeading
        display: flex
        align-items: center

        h1
          font-family: 'Poppins', sans-serif;
          color: $astraPurple
          font-weight: 600
          font-size: 25px
          margin: 0
</style>
