<template>
  <div class="workspaceCard" @click = "openAddWorkspaceModal()">
    <div class="workspaceControllerContainer">
      <div class="workspaceController">
        <i class="material-icons">add_circle</i>
        <h1>Add workspace</h1>
      </div>
    </div>
    <div class="backgroundContainer">
      <astraTopologyLeo v-bind:backgroundWidth="backgroundWidth" />
    </div>
  </div>
</template>

<script>
import astraTopologyLeo from "@/components/astraArtwork/astraTopologyLeo.vue";
import plusCircle from "@/assets/astraIcons/plus-circle.svg?inline";

export default {
  name: "addAstraWorkspaceCard",
  components: {
    astraTopologyLeo,
    plusCircle
  },
  props: {
    backgroundWidth: {
      required: true
    }
  },
  methods: {
    openAddWorkspaceModal: function(){
      return this.$store.commit({
        type: "toggleVisibility",
        override: true
      });
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.workspaceCard
  background: $astraPureWhite
  width: 400px
  height: 220px
  border-radius: 14px
  position: relative

  &:hover
    cursor: pointer

  .workspaceControllerContainer
    position: absolute
    width: @width
    height: @height
    z-index: 5
    display: flex
    align-items: center
    justify-content: center

    .workspaceController
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      margin-top: 15px

      h1
        font-family: 'Poppins', sans-serif;
        font-weight: 600
        font-size: 24px
        color: $astraWhite

      .material-icons
        font-size: 65px
        color: $astraWhite

  .backgroundContainer
    width: @width
    height: @height
    overflow: hidden
    position: absolute
    background: $astraPurple
    border-radius: @border-radius

    svg
      opacity: 0.6
      transform: translate(-35px, -32px)
</style>
