<template>
  <div class="workspaceCard">
    <div class="workspaceControllerContainer">
      <div class="workspaceController">
        <div class="iconContainer">
          <slot name="icon"></slot>
        </div>
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="backgroundContainer">
      <slot name="topology"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "astraWorkspaceCard",
  props: {
    title: {
      required: true
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.workspaceCard
  background: $astraPureWhite
  width: 400px
  height: 220px
  border-radius: 14px
  position: relative

  .workspaceControllerContainer
    position: absolute
    width: @width
    height: @height
    z-index: 5
    display: flex
    align-items: center
    justify-content: center

    .workspaceController
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      margin-top: 15px

      .iconContainer
        width: 65px
        height: 65px

        svg
          width: @width
          height: @height

      h1
        font-family: 'Poppins', sans-serif;
        font-weight: 600
        font-size: 24px
        color: $astraWhite

      .material-icons
        font-size: 52px
        color: $astraWhite

  .backgroundContainer
    width: @width
    height: @height
    overflow: hidden
    position: absolute
    background: $astraDarkPurple
    border-radius: @border-radius

    svg
      transform: translate(-35px, -32px)
</style>
