<template>
  <div
    class="fullscreenContainer"
    v-bind:style="{ 
      gridTemplateColumns: `${sidebarWidth} 1fr`
    }"
  >
    <template v-if="navData.mainNavbar">
      <sidebar v-bind:width="sidebarWidth" />
    </template>
    <template v-else-if="navData.workspaceNavbar">
      <workspaceSidebar v-bind:width="sidebarWidth" />
    </template>

    <router-view />
  </div>
</template>

<script>
import sidebar from "./components/sidebar.vue";
import workspaceSidebar from "@/views/public/channels/createdWorkspace/components/workspaceSidebar"

export default {
  name: "fullscreenContainer",
  components: {
    sidebar, workspaceSidebar
  },
  data: () => {
    return {
      sidebarWidth: "125px",
    };
  },
  computed: {
    navData: function(){
      return this.$store.state.mainNavbarStore.navVisibilityIndex
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.fullscreenContainer
  height: inherit
  display: grid
  grid-template-rows: 1fr
  background: $astraBackgroundWhite
</style>
