<template>
  <div class="workspaceOverview">
    <div class="innerAstraWorkspace">
      <h1>Workspaces overview</h1>
      <div class="workspaceCardsContainer">
        <addAstraWorkspaceCard backgroundWidth="470px" />

        <astraWorkspaceCard title="Google">
          <template v-slot:icon>
            <googleSvg />
          </template>
          <template v-slot:topology>
            <astraTopologyHercules backgroundWidth="470px" />
          </template>
        </astraWorkspaceCard>

        <astraWorkspaceCard title="University">
          <template v-slot:icon>
            <i class="material-icons">school</i>
          </template>
          <template v-slot:topology>
            <astraTopologyVela backgroundWidth="470px" />
          </template>
        </astraWorkspaceCard>
      </div>
    </div>
  </div>
</template>

<script>
// Local components
import astraWorkspaceCard from "./components/astraWorkspaceCard.vue";
import addAstraWorkspaceCard from "./components/addAstraWorkspaceCard.vue";

// Workspace icons
import googleSvg from "@/assets/workspaceIcons/google.svg?inline";

// Topologies
import astraTopologyHercules from "@/components/astraArtwork/astraTopologyHercules.vue";
import astraTopologyVela from "@/components/astraArtwork/astraTopologyVela.vue";

export default {
  name: "workspaceOverview",
  components: {
    astraWorkspaceCard,
    addAstraWorkspaceCard,

    googleSvg,

    astraTopologyHercules,
    astraTopologyVela
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.workspaceOverview
  display: flex
  align-items: center
  justify-content: center

  .innerAstraWorkspace
    height: 90%
    width: 90%

    h1
      font-family: 'Poppins', sans-serif;
      font-weight: 600

    .workspaceCardsContainer
      width: 100%
      display: grid
      grid-template-columns: repeat(auto-fill, 400px)
      grid-template-rows: 1fr
      grid-gap: 50px
</style>
