<template>
  <astraTopologyVela v-bind:style="{ width: backgroundWidth }" />
</template>

<script>
import astraTopologyVela from "@/assets/astraArtwork/astraTopologyVela.svg?inline";
export default {
  name: "astraTopologyVelaComponent",
  components: {
    astraTopologyVela
  },
  props: {
    backgroundWidth: {
      default: "400px"
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

svg
  opacity: 0.8
  position: absolute

  .cls-1
    fill: none;


  .cls-2
    clip-path: url(#clip-path);


  .cls-3
    fill: lighten(#bf304c, 10%);


  .cls-4
    fill: lighten(#ff6b81, 15%);


  .cls-5
    fill: darken(#bf304c, 2%)
</style>
