<template>
  <astraTopologyHercules v-bind:style="{ width: backgroundWidth }" />
</template>

<script>
import astraTopologyHercules from "@/assets/astraArtwork/astraTopologyHercules.svg?inline";
export default {
  name: "astraTopologyHerculesComponent",
  components: {
    astraTopologyHercules
  },
  props: {
    backgroundWidth: {
      default: "400px"
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

svg
  position: absolute

  .cls-1
    fill: none;


  .cls-2
    clip-path: url(#clip-path);


  .cls-3
    fill: #45467a;


  .cls-4
    fill: #171a49;


  .cls-5
    fill: #f99a7d;


  .cls-6
    fill: #f97f51;


  .cls-7
    fill: #ede7e6;


  .cls-8
    fill: #f7b731;


  .cls-9
    fill: #001a49;
</style>
