<template>
  <div>
    <template v-if="displayRaw">
      <div class="svgHolder" v-bind:style="{ width: outer, height: outer }">
        <svgIcon />
      </div>
    </template>
    <template v-else>
      <div class="svgHolder" v-bind:style="{ width: outer, height: outer }">
        <div class="innerHolder" v-bind:style="{ width: inner, height: inner }">
          <svgIcon />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import svgIcon from "@/assets/astraIcons/astraIcon.svg?inline";
export default {
  name: "astraIcon",
  components: {
    svgIcon
  },
  props: {
    displayRaw: {
      type: Boolean,
      default: false
    },
    shouldAnimate: {
      type: Boolean,
      default: false
    },
    outer: {
      type: String,
      required: true,
      default: "150px"
    },
    inner: {
      type: String,
      required: true,
      default: "100px"
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.svgHolder
  display: flex
  justify-content: center
  align-items: center

  svg
    .cls-1
      fill: $astraWhite


    .cls-2
      fill: $astraPurple


    .cls-3
      fill: $astraWhite
</style>
