<template>
  <astraTopologyLeo v-bind:style="{ width: backgroundWidth }" />
</template>

<script>
import astraTopologyLeo from "@/assets/astraArtwork/astraTopologyLeo.svg?inline";
export default {
  name: "astraTopologyLeoComponent",
  components: {
    astraTopologyLeo
  },
  props: {
    backgroundWidth: {
      default: "400px"
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

svg
  position: absolute

  .cls-1
    fill: none

  .cls-2
    clip-path: url(#clip-path)

  .cls-3
    fill: #8068dd

  .cls-4
    fill: #3b3b9d

  .cls-5
    fill: #f5f6fa

  .cls-6
    fill: #867acc
</style>
