<template>
  <div class = "channelPicker">
    <div class = "titleContainer">
      <h1>Unit 13 - webdev</h1>
      <chevronDown stroke-width="3" />
    </div>
    <div class = "workspaceChannelsContainer">
      <div class = "contentsContainer">

        <div class = "channelTextContainer" v-for = "data in channels" v-bind:key = "data.type">
          <div class = "iconContainer">
            <component v-bind:is="data.component" v-bind:class = "data.class"></component>
          </div>
          <div class = "textContainer">
            <h1>{{ data.channelName }}</h1>
          </div>
          <div class = "sideIconContainer">
            <verticalMore/>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import hashtag from "@/assets/astraIcons/hashtag.svg?inline";
import menuIcon from "@/assets/astraIcons/menu.svg?inline";
import codeSvg from "@/assets/astraIcons/code.svg?inline";
import pullRequests from "@/assets/astraIcons/i8/icons8-git.svg?inline";
import moodboard from "@/assets/astraIcons/i8/icons8-full-image.svg?inline";
import checkSquare from "@/assets/astraIcons/i8/icons8-checked-checkbox.svg?inline";
import clock from "@/assets/astraIcons/clock.svg?inline";
import verticalMore from "@/assets/astraIcons/verticalMore.svg?inline";
import chevronDown from "@/assets/astraIcons/chevron-down.svg?inline"

// All hardcoded data should be pushed into an object

export default {
  name: "createdWorkspaceView",
  components: {
    hashtag, menuIcon, codeSvg, pullRequests, moodboard, checkSquare, clock,
    verticalMore, chevronDown
  },
  data: () => {
    return {
      channels: [
        {
          channelName: "Git updates",
          component: pullRequests,
          type: "github",
          class: "i8SVG"
        },
        {
          channelName: "Class notes",
          component: hashtag,
          type: "note",
          class: "fillSvg hashtagTransform"
        },
        {
          channelName: "Tasks",
          component: checkSquare,
          type: "todo",
          class: "i8SVG"
        },
        {
          channelName: "Code journal",
          component: codeSvg,
          type: "code",
        },
        {
          channelName: "Inspiration",
          component: moodboard,
          type: "moodboard",
          class: "i8SVG"
        }
      ],
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.channelPicker
  background: lighten($astraWhite, 40%)
  display: grid
  grid-template-rows: 85px 1fr
  grid-template-columns: 1fr
  grid-gap: 12px

  .workspaceChannelsContainer
    background: @background
    padding-left: 12px
    padding-right: @padding-left
    padding-top: 10px
    display: flex
    justify-content: center

    .contentsContainer
      width: 90%
      height: 100%
      display: grid
      grid-auto-rows: 60px
      grid-gap: 15px

      .channelTextContainer
        display: grid
        grid-template-columns: 50px 1fr 50px
        grid-template-rows: 1fr
        padding-left: 8px
        padding-right: @padding-left
        padding-top: 5px
        padding-bottom: @padding-top
        margin-bottom: 2px
        grid-gap: 10px
        border-radius: 50px
        border: 1.5px solid @background

        &:hover
          background: $astraPureWhite
          border: 1.5px solid darken($astraWhite, 5%)
          cursor: pointer

          .textContainer
            h1
              color: $astraSlate

          .sideIconContainer
            opacity: 1

          .iconContainer
            .i8SVG
              fill: $astraPurple
            
            .fillSvg
              fill: $astraPurple
            
            .feather
              stroke: $astraPurple

        .textContainer
          display: flex
          align-items: center

          h1
            font-family: 'Poppins', sans-serif
            color: $astraDirtyPurpleVarient
            font-size: 17px
            font-weight: 500
            transition: color $defaultAnimationDuration
        
        .sideIconContainer
          display: flex
          justify-content: center
          align-items: center
          opacity: 0

          &:hover
            svg
              stroke: darken($astraWhite, 15%)

          svg
            stroke: darken($astraWhite, 5%)
            transition: stroke $defaultAnimationDuration

        .iconContainer
          display: flex
          justify-content: center
          align-items: center

          .hashtagTransform
            transform: translateY(3px)

          .feather
            stroke: $astraDirtyPurple
            transition: stroke $defaultAnimationDuration

          .fillSvg
            fill: $astraDirtyPurple
            stroke: none
            width: 24px
            transition: fill $defaultAnimationDuration

          .i8SVG
            fill: $astraDirtyPurple
            transform: scale(0.85)
            transition: fill $defaultAnimationDuration
  
  .titleContainer
    background: @background
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1.15px solid darken(@background, 7.5%)

    h1
      font-family: 'Poppins', sans-serif
      color: $astraPurpleSlate
      font-size: 17px
      margin: 0
      padding-left: 50px
      font-weight: 600
    
    svg
      stroke: darken(@background, 15%)
      margin-top: 5px
      margin-right: 47px
      width: 26px
      height: @width
      transform: scale(0.85)
      transition: stroke $defaultAnimationDuration
</style>
