<template>
  <div class="sidebarComponent">
    <astraIcon v-bind:outer="width" inner="70px" />
    <div class="menu">
      <sidebarIcon 
        name = "Github" 
        icon = "https://image.flaticon.com/icons/svg/25/25231.svg"
        badgeColour = "#000000"
        :unread = "true"
      />

      <sidebarIcon 
        name = "Google" 
        icon = "https://cdn.discordapp.com/icons/478114566509821953/a_b11a7e629f359b5e464a60348c331b8c.jpg"
        :unread = "false"
      />

      <sidebarIcon 
        name = "R6S" 
        icon = "https://i.pinimg.com/736x/8c/c4/92/8cc492be438c76b99371d691d23cff8f.jpg"
        badgeColour = "#FFD701"
        :unread = "true"
      />

      <sidebarIcon 
        name = "TypeScript" 
        icon = "https://a5.behance.net/6aaf5983a5ab019f8f9565f22c1b277a35bc8d8a/img/talent/belogo-social-posts-default.png"
        badgeColour = "#0056FF"
        :unread = "true"
      />

      <sidebarIcon 
        name = "Lua" 
        icon = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Lua-logo-nolabel.svg/600px-Lua-logo-nolabel.svg.png"
        badgeColour = "#000080"
        :unread = "true"
      />
    </div>
  </div>
</template>

<script>
import astraIcon from "@/components/astraArtwork/astraIcon.vue";
import sidebarIcon from "./sidebarComponents/sidebarIcon"

export default {
  name: "workspaceSidebar",
  components: {
    astraIcon, sidebarIcon
  },
  data: () => {
    return {};
  },
  props: {
    width: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.sidebarComponent
  background: $astraPureWhite
  display: flex
  flex-direction: column

  .menu
    padding-top: 10px
    display: grid
    grid-template-columns: 1fr
    grid-auto-rows: 80px
    grid-gap: 35px
</style>
