<template>
  <div
    class="profilePictureContainer"
    v-bind:style="{ width: outer, height: outer }"
  >
    <div
      class="innerHolder"
      v-bind:style="{
        width: inner,
        height: inner,
        border: `2px solid ${borderColour}`
      }"
    >
      <img v-bind:src="profilePicture" />
    </div>
  </div>
</template>

<script>
export default {
  name: "profilePicture",
  props: {
    outer: {
      type: String,
      required: true,
      default: "150px"
    },
    inner: {
      type: String,
      required: true,
      default: "100px"
    },
    borderColour: {
      type: String,
      required: false,
      default: "#b3a9ec"
    },
    profilePicture: {
      type: String,
      required: false,
      default: ("https://cdn.discordapp.com/avatars/328609682648334336/7472910a4faa94ed75f02624568fbbd9.png?size=2048")
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.profilePictureContainer
  display: flex
  align-items: center
  justify-content: center
  margin-top: auto

  .innerHolder
    border-radius: 50%

    img
      max-width: 100%
      image-resolution: from-image
      object-fit: contain
      border-radius: @border-radius
</style>
