<template>
  <div class="workspaceOverview">
    <div class="innerAstraWorkspace">
      <h1>Pinned channels</h1>
      <div class="workspaceCardsContainer">
        <pinnedNotes
          backgroundWidth="720px"
          :amountOfItems="37"
          channelName="meeting-minutes"
          channelType="notebook"
          workspaceName="Google"
          :lastUpdate="new Date(1561661403051).toLocaleString()"
          :teamMembers="[
            {
              name: 'Suraj',
              // eslint-disable-next-line
              profilePicture: require('@/assets/dynamicAssets/Temp/profilePicture.png')
            }
          ]"
        >
          <googleSvg class="serverIcon" />
        </pinnedNotes>

        <pinnedNotes
          backgroundWidth="720px"
          :amountOfItems="25"
          channelName="module-1-app-development"
          channelType="notebook"
          workspaceName="University"
          :lastUpdate="new Date(1551631303051).toLocaleString()"
          :teamMembers="[
            {
              name: 'Suraj',
              profilePicture: require('@/assets/dynamicAssets/Temp/profilePicture.png')
            },
            {
              name: 'Josh Brown',
              profilePicture:
                'https://lh3.googleusercontent.com/-71Z2pTsWNP0/XKH5xG0LBRI/AAAAAAAAAAA/6ivM5d8FP5wOIQsDHSKv7-2IMV4nYwCkgCOQCEAE/s80-p-k-rw-no/photo.jpg'
            },
            {
              name: 'Cameron Farrier',
              profilePicture:
                'https://avatars1.githubusercontent.com/u/48474999?s=460&v=4'
            },
            {
              name: 'Josh Hunt',
              profilePicture:
                'https://suraj.codes/dist/images/chrome_JIvub9h8eE.png'
            }
          ]"
        >
          <i class="material-icons">school</i>
        </pinnedNotes>
      </div>
    </div>
  </div>
</template>

<script>
// Local components
import pinnedNotes from "./components/pinnedNotes.vue";

// Workspace icons
import googleSvg from "@/assets/workspaceIcons/google.svg?inline";

// Topologies
import astraTopologyHercules from "@/components/astraArtwork/astraTopologyHercules.vue";
import astraTopologyVela from "@/components/astraArtwork/astraTopologyVela.vue";

export default {
  name: "channelsOverview",
  components: {
    pinnedNotes,

    googleSvg,

    astraTopologyHercules,
    astraTopologyVela
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.workspaceOverview
  display: flex
  align-items: center
  justify-content: center

  .innerAstraWorkspace
    height: 90%
    width: 90%

    h1
      font-family: 'Poppins', sans-serif;
      font-weight: 600

    .workspaceCardsContainer
      width: 100%
      display: grid
      grid-template-columns: repeat(auto-fill, $pinnedNotesWidth)
      grid-template-rows: 1fr
      grid-gap: 50px
</style>
