<template>
  <div id="astraContainer">

    <addWorkspaceModal />
    <!--
      These modals should be pushed into a sub component
    -->
    
    <div class="statusBar" v-bind:style = "{
        ...shouldDisplayWorkspaceNavbarColours && {
          backgroundColor: colourPalette.astraPureWhite
        }
      }">
      <div class="cornerWedge" v-bind:style = "{
        ...shouldDisplayWorkspaceNavbarColours && {
          backgroundColor: colourPalette.astraPureWhite
        }
      }">
        <div class="innerWedge" v-bind:style = "{
        ...shouldDisplayWorkspaceNavbarColours && {
          backgroundColor: colourPalette.astraBackgroundSecondary
        }
      }"></div>
      </div>
      <div class="titleBar">
        <div class="clickableComponent">
          <svg
            name="TitleBarMinimize"
            aria-hidden="false"
            width="12"
            height="12"
            viewBox="0 0 12 12"
          >
            <rect v-bind:fill="controlsActiveColour" width="10" height="1" x="1" y="6"></rect>
          </svg>
        </div>
        <div class="clickableComponent">
          <svg
            name="TitleBarMaximize"
            aria-hidden="false"
            width="12"
            height="12"
            viewBox="0 0 12 12"
          >
            <rect
              width="9"
              height="9"
              x="1.5"
              y="1.5"
              fill="none"
              v-bind:stroke="controlsActiveColour"
            ></rect>
          </svg>
        </div>
        <div class="clickableComponent">
          <svg
            name="TitleBarClose"
            aria-hidden="false"
            width="12"
            height="12"
            viewBox="0 0 12 12"
          >
            <polygon
              v-bind:fill="controlsActiveColour"
              fill-rule="evenodd"
              points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"
            ></polygon>
          </svg>
        </div>
      </div>
    </div>

    <router-view />
  </div>
</template>

<script>
// Global components
import addWorkspaceModal from "@/components/modals/addWorkspaceModal.vue";

export default {
  name: "App",
  components: {
    addWorkspaceModal: addWorkspaceModal
  },
  computed: {
    shouldDisplayWorkspaceNavbarColours: function(){
      return this.$store.state.mainNavbarStore.navVisibilityIndex.workspaceNavbar
    },
    controlsActiveColour: function(){
      return this.shouldDisplayWorkspaceNavbarColours ? this.colourPalette.astraDark : this.colourPalette.astraPureWhite
    }
  },
  data: () => {
    return {
      colourPalette: {
        astraPureWhite: "#fff",
        astraBackgroundWhite: "#f5f6fa",
        astraBackgroundSecondary: "#f9fafc",
        astraDark: "#212121"
      }
    }
  }
};
</script>

<style lang="stylus">
@import "~@/globals/config.styl"

html, body
  margin: 0

.statusBar
  height: $statusBarHeight
  background: $astraPurple
  display: flex

  .titleBar
    margin-left: auto
    height: 100%
    width: auto
    display: grid
    grid-template-columns: repeat(3, $statusBarHeight)
    grid-template-rows: 1fr
    grid-gap: 4px

    .clickableComponent
      height: 100%
      width: $statusBarHeight
      display: flex
      justify-content: center
      align-items: center

  .cornerWedge
    position: absolute
    background: @background
    height: @height
    width: @height
    margin-left: $sideBarWidth
    margin-top: @height

    .innerWedge
      height: @height
      width: @width
      border-radius: @height 0 0 0
      background: darken($astraWhite, 2.5%)
</style>
