<template>
  <div class="iconContainer" :style="{ opacity: shouldHighlight && 1 }">
    <template v-if="shouldHighlight">
      <div
        class="leftSpecifier"
        :style="{
          display: 'block'
        }"
      ></div>
    </template>
    <template v-else>
      <div class="leftSpecifierSmall"></div>
    </template>
    <div class="iconHolder">
      <div class="icon">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "iconContainer",
  props: {
    name: {
      type: String,
      default: "John Doe",
      required: false
    },
    svg: {
      required: false
    }
  },
  data: () => {
    return {
      shouldHighlight: false
    };
  },
  methods: {
    shouldHighlightIcon: function() {
      let currentPath = this.$route.path;
      let iconPath = this.name;

      return currentPath === iconPath;
    }
  },
  mounted: function() {
    this.shouldHighlight = this.shouldHighlightIcon();
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

$height = 80px
$offset = 25px
$specifierWidth = 5px

.iconContainer
  opacity: 0.5

  .leftSpecifierSmall
    margin-top: 27.5px // ($height - $offset) / 2
    height: $offset
    width: $specifierWidth
    background: $astraWhite
    position: absolute
    border-top-right-radius: @width
    border-bottom-right-radius: @width
    transform: translateX(@width * -1px) scaleY(0.5)
    transition: transform $longAnimationDuration cubic-bezier(0, .8, .13, 1)

  .leftSpecifier
    display: none
    margin-top: 12.5px // $offset / 2
    height: $height - $offset
    width: $specifierWidth
    background: $astraWhite
    position: absolute
    border-top-right-radius: @width
    border-bottom-right-radius: @width

  &:hover
    opacity: 0.75
    cursor: pointer

    .leftSpecifierSmall
      transform: translateX(0px) scaleY(1)
      transition: transform $longAnimationDuration cubic-bezier(0, .8, .13, 1)

  .iconHolder
    display: flex
    align-items: center
    justify-content: center

    .icon
      display: flex
      align-items: center
      justify-content: center
      height: $height
      width: 55px

      svg
        width: 55px
</style>
