<template>
  <div class="sidebarComponent">
    <astraIcon v-bind:outer="width" inner="60px" />
    <div class="menu">
      <iconContainer name="/workspace"><workspace /></iconContainer>
      <iconContainer><bell /></iconContainer>
      <iconContainer><reports/></iconContainer>
      <iconContainer><compass/></iconContainer>
      <iconContainer><zap/></iconContainer>
    </div>
    <profilePicture :profilePicture="require('@/assets/dynamicAssets/Temp/profilePicture.png')" v-bind:outer="width" inner="60px" />
  </div>
</template>

<script>
// Global components
import astraIcon from "@/components/astraArtwork/astraIcon.vue";
import profilePicture from "@/components/profilePicture.vue";

// Nested components
import iconContainer from "./iconContainer.vue";

// Icons
import bell from "@/assets/astraIcons/bell.svg?inline";
import compass from "@/assets/astraIcons/compass.svg?inline";
import workspace from "@/assets/astraIcons/workspace.svg?inline";
import zap from "@/assets/astraIcons/zap.svg?inline";
import reports from "@/assets/astraIcons/reports.svg?inline";

export default {
  name: "sidebar",
  components: {
    astraIcon,
    iconContainer,
    profilePicture,

    bell,
    compass,
    workspace,
    zap,
    reports
  },
  data: () => {
    return {};
  },
  props: {
    width: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped lang="stylus">
@import "~@/globals/config.styl"

.sidebarComponent
  background: $astraPurple
  display: flex
  flex-direction: column

  .menu
    padding-top: 10px
    display: grid
    grid-template-columns: 1fr
    grid-auto-rows: 80px
    grid-gap: 35px
</style>
